{
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
